{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead mb-0" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['headname']}}</h1>
            <span class="subheading">welcome you are logged in</span>
          </div>
        </div>
      </div>
    </div>
  </header>
   {% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}

  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endfor %}
  {% endif %}
  {% endwith %}


<div class="container">
  <h2>ADD DATA </h2>
  <a href="/login"> <button class="btn btn-danger" > Home</button> </a>

           <form name="sentMessage" id="contactForm" novalidate action="/edit/{{post.mid}}" method="post">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>MEDICAL NAME</label>
              <input type="text" name="medical_name" class="form-control" placeholder="enter medical name" id="medical_name" required data-validation-required-message="enter title" value="{{post.medical_name}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>OWNER NAME</label>
              <input type="text" name="owner_name" class="form-control" placeholder="Enter Owner name" id="owner_name" required data-validation-required-message="Please enter slug" value="{{post.owner_name}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>PHONE NUMBER</label>
              <input type="text" name="phone_no" class="form-control" placeholder="Enter phone number" id="phone_no" required data-validation-required-message="Please enter your phone number." value="{{post.phone_no}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
           <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>ADDRESS</label>
              <input type="text" name="address" class="form-control" placeholder="enter Address" id="address" required data-validation-required-message="Please enter your phone number." value="{{post.address}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button onclick="return confirm('Are you sure to update data?');"  type="submit" class="btn btn-primary" id="sendMessageButton">UPDATE DATA</button>
          </div>

        </form>

  

</div>
 


 
{% endblock %}